#carouselExampleCaptions {
  width: 100%;
  margin: 0 auto;
}

#carouselExampleCaptions img {
  width: 100%;
  height: auto;
  max-height: 700px;
}

.trailer-button {
  /* background-color: transparent; */
  color: white;
  border: 3px solid white;
  padding: 10px 30px;
  text-decoration: none;
  /* transition: all 0.5s ease; */
}

.trailer-button:hover {
<<<<<<< HEAD
    background-color: white;
    color: black;
}



/* DRAG AND DROP */

.modal-content {
  position: relative; /* hacer que el modal sea un contenedor de posicionamiento */
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 80px;
  border: 2px solid #888;
  display: flex; 
  justify-content: center; /* Centra  elementos */
  max-width: 900px;;
}

.close {
  color: #aaa;
  font-size: 50px; 
  font-weight: bold;
  position: absolute; /* esto para posicionar la 'x' */
  top: 10px; 
  left: 10px; 
}

  #puzzle-piece {
    display: none; 
    width: 80px;
    height: 80px;
    background-color: blue;
    position: absolute;
    left: 20%;
  }



  #drop-zone {
    display: none; /* Añade esto para ocultar el hueco inicialmente */
    width: 85px;
    height: 85px;
    border: 2px dashed black;
    position: absolute;
    right: 30%;
  }
  
.modal-header {
  margin-bottom: 70px; /* esto para separar el título del área de arrastrar y soltar */
=======
  background-color: white;
  color: black;
}

/* Drag and drop */

/* .info {
  position: relative;
  font-family: Arial;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
} */

#rest2 {
  font-size: 13px;
}

#text div {
  position: relative;
  height: 200px;
  width: 200px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0;
}

#images {
  width: 100%;
}

#drag4 {
  height: 200px;
  width: 200px;

  display: inline-block;
}

#drag4 {
  background: linear-gradient(to bottom right, #16244c, #324165, #656b83);
}
.modal-header,
.modal-title {
  color: black;
}
#miModal .modal-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#miModal #text div,
#miModal #images {
  flex: 0 0 49%;
  text-align: center;
}

#miModal #text div {
  border: 1px dashed gray;
  height: 200px;
  margin: 0;
>>>>>>> d0cc269 (drag and drop version completa)
}