#carouselExampleCaptions {
    width: 100%;
    margin: 0 auto;
}

#carouselExampleCaptions img {
    width: 100%;
    height: auto;
    max-height: 700px;
}

.trailer-button {
    /* background-color: transparent; */
    color: white;
    border: 3px solid white;
    padding: 10px 30px;
    text-decoration: none;
    /* transition: all 0.5s ease; */
}

.trailer-button:hover {
    background-color: white;
    color: black;
}



/* DRAG AND DROP */

.modal-content {
  position: relative; /* hacer que el modal sea un contenedor de posicionamiento */
  background-color: #fefefe;
  margin: 10% auto; 
  padding: 80px;
  border: 2px solid #888;
  display: flex; 
  justify-content: center; /* Centra  elementos */
  max-width: 900px;;
}

.close {
  color: #aaa;
  font-size: 50px; 
  font-weight: bold;
  position: absolute; /* esto para posicionar la 'x' */
  top: 10px; 
  left: 10px; 
}

  #puzzle-piece {
    display: none; 
    width: 80px;
    height: 80px;
    background-color: blue;
    position: absolute;
    left: 20%;
  }



  #drop-zone {
    display: none; /* Añade esto para ocultar el hueco inicialmente */
    width: 85px;
    height: 85px;
    border: 2px dashed black;
    position: absolute;
    right: 30%;
  }
  
.modal-header {
  margin-bottom: 70px; /* esto para separar el título del área de arrastrar y soltar */
}
